{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<body class="text-center" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url({{ asset('build/wallpaper_temple.jpg') }}) no-repeat center center fixed;">
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('index') }}
{% endblock %}

{% block header %}{% endblock %}

{% block container %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">One Thousand Years</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="{{ path('index') }}">Accueil</a>
                <a class="nav-link" href="{{ path('timeline') }}">Frise chronologique</a>
                <a class="nav-link disabled" href="#" aria-disabled="true" data-toggle="popover" title="Connexion utilisateur"><i class="fas fa-user-circle"></i></a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">La chronologie de l'histoire</h1>
        <p class="lead">Rédécouvre l'histoire au moyen de cet outil de construction de frise chronologique</p>
        <p class="lead">
            <a href="{{ path('timeline') }}" class="btn btn-lg btn-secondary">Commencer</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><i class="fas fa-copyright"></i> Romain Gueffier - Tous droits réservés</p>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}

{% block footer %}{% endblock %}
