<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Romain Gueffier">
        <meta name="generator" content="Me">
        <title>{% block title %}The Real Timeline{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {% block body %}
    <body class="d-flex flex-column h-100">
    {% endblock %}
        {% block header %}
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">The Real Timeline</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('index') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('timeline') }}">Frise chronologique</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Personnages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('character_read_all') }}">Tous les personnages</a>
                                <a class="dropdown-item" href="{{ path('character_add') }}">Ajouter un personage</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Évènements
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('event_read_all') }}">Tous les évènements</a>
                                <a class="dropdown-item" href="{{ path('event_add') }}">Ajouter un évènement</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Compte</a>
                        </li>
                    </ul>
                    <form class="form-inline mt-2 mt-md-0" action="" method="get">
                        <input class="form-control mr-sm-2" type="text" placeholder="Evènement, date, personnage, etc" aria-label="Recherche">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                </div>
            </nav>
        </header>
        {% endblock %}
        {% block container %}
        {% endblock %}
        {% block footer %}
        <footer class="footer mt-auto py-3 bg-dark">
            <div class="container">
                <p class="text-muted"><i class="fas fa-copyright"></i> Romain Gueffier - 2020</p>
            </div>
        </footer>
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
