{% if characters %}
{% for key, character in characters %}
<div class="character character-birth-{{ character.birth.accuracy }} character-death-{{ character.death.accuracy }} text-center {% for category in character.categories %}category-{{ category.id }} {% endfor %}" role="alert" style="width:{{ character.age / ratio }}px;left:{{ attribute(positions, key) }}px;top: {{ (character.weight * 3) - 3 }}rem;">
    <small>{{ character.name }}</small>
    <button type="button" class="btn btn-link btn-sm btn-modal" data-toggle="modal" data-target="#modal-character-{{ key }}">
        <i class="fas fa-info-circle"></i>
    </button>
    <small class="character-info-small float-left m-2">{{ character.name }} {{ (character.birth.accuracy < 100) ? '~' : '' }}{{ character.birth.year }}</small>
    <small class="character-info-small float-right m-2">{{ character.name }} {{ (character.death.accuracy < 100) ? '~' : '' }}{{ character.death.year }}</small>
</div>
<!-- Hidden Modal -->
<div class="modal fade" id="modal-character-{{ key }}" tabindex="-1" aria-labelledby="{{ key }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ key }}Label">
                    {{ character.name }} - <small class="text-muted">{{ (character.birth.accuracy == 100 or character.death.accuracy == 100) ? '' : 'env. ' }}{{ character.age }} an(s)</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img src="{{ character.imageFilename ? asset('uploads/images/' ~ character.imageFilename) : asset('build/blank_image.jpg') }}" alt="{{ character.imageFilename }}" class="img-fluid">
            <div class="modal-body">
                <small class="text-muted">
                    {{ (character.birth.accuracy < 100) ? 'env. ' : '' }} {{ character.birth.year|abs }} {{ character.birth.BC ? 'avant n.è.' : '' }} - {{ (character.death.accuracy < 100) ? 'env. ' : '' }} {{ character.death.year|abs }} {{ character.death.BC ? 'avant n.è.' : '' }}
                </small>
                <p>{{ character.description|u.truncate(100, '...') }}</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path('character_read_one', {id: character.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                <a href="{{ path('character_edit', {id: character.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
