{% extends 'base.html.twig' %}

{% block title %}Liste des personnages{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <a type="button" class="btn btn-secondary btn-lg btn-block" href="/character/add">
            <i class="fas fa-plus-square"></i> Ajouter un personnage
        </a>
        {% if characters %}
        <ul class="list-group">
            {% for character in characters %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h4>{{ character.name }}</h4>
                <p class="small text-muted">{{ character.description|trim(20) }}</p>
                <a class="badge badge-primary badge-pill" href="/character/id/{{ character.id }}">
                    <i class="fas fa-eye"></i>
                </a>
                <a class="badge badge-warning badge-pill" href="/character/edit/{{ character.id }}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="badge badge-danger badge-pill" href="/character/delete/{{ character.id }}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="alert alert-warning" role="alert">Aucun personnage</p>
        {% endif %}

    </div>
</main>
{% endblock %}
