{% extends 'base.html.twig' %}

{% block title %}Personnage : {{ character.name }}{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2 display-4">{{ character.name }}</h2>
        <div class="row no-gutters bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="{{ character.imageFilename ? asset('uploads/images/' ~ character.imageFilename) : asset('build/blank_image.jpg') }}" class="align-self-end" alt="{{ character.name }}" style="width:100%;">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <p class="lead">{{ character.age }} an(s) -
                  <small class="text-muted">
                    {{ (character.birth.accuracy < 100) ? 'env. ' : '' }} {{ character.birth.year|abs }} {{ character.birth.BC ? 'avant n.è.' : '' }} - {{ (character.death.accuracy < 100) ? 'env. ' : '' }} {{ character.death.year|abs }} {{ character.death.BC ? 'avant n.è.' : '' }}
                  </small>
                </p>
                <p>{{ character.description }}</p>
                <h6>Source(s)</h6>
                <ul class="list-group list-group-flush mb-3">
                {% if character.source %}
                {% for source in character.source %}
                <li class="list-group-item">
                    <a href="{{ source }}" class="badge badge-info">{{ source }}</a>
                </li>
                {% endfor %}
                {% else %}
                <li class="list-group-item">
                    Aucune source
                </li>
                {% endif %}
                </ul>
                <p class="mb-0">
                    <a class="btn btn-secondary" href="{{ character.imageFilename ? asset('uploads/images/' ~ character.imageFilename) : asset('build/blank_image.jpg') }}" alt="{{ character.imageFilename }}">
                        <i class="fas fa-image"></i>
                    </a>
                    {% if is_granted('edit', character) %}
                    <a class="btn btn-warning" href="{{ path('character_edit', {id: character.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-delete" href="{{ path('character_delete', {id: character.id}) }}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
