{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <a type="button" class="btn btn-success btn-lg btn-block my-3" href="{{ path('event_add') }}">
            <i class="fas fa-plus-square"></i> Ajouter un évènement
        </a>
        {% if events %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for event in events %}
            <div class="col-auto mb-3" id="event-wrapper-{{ event.id }}">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ event.imageFilename ? asset('uploads/images/' ~ event.imageFilename) : asset('build/blank_image.jpg') }}" alt="{{ event.imageFilename }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ event.name }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ event.duration }} an(s)
                            <small class="text-muted">
                                ({{ (event.start.accuracy < 100) ? 'env. ' : '' }}
                                {% if event.duration > 1 %}
                                {{ event.start.year }} {{ event.start.BC ? 'avant n.è.' : '' }} - {{ (event.end.accuracy < 100) ? 'env. ' : '' }}{{ event.end.year }} {{ event.end.BC ? 'avant n.è.' : '' }}
                                {% else %}
                                {{ event.start.year }} {{ event.start.BC ? 'avant n.è.' : '' }}
                                {% endif %})
                            </small>
                        </h6>
                        <p class="card-text">{{ event.description|u.truncate(50, '...') }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('event_read_one', {id: event.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('event_edit', {id: event.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <button type="button" class="btn btn-danger btn-event-delete" event_id="{{ event.id }}"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="alert alert-warning" role="alert">Aucun évènement</p>
        {% endif %}
    </div>
</main>
{% endblock %}
