{% extends 'base.html.twig' %}

{% block title %}Frise chronologique{% endblock %}

{% block container %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Chronologie complète de l'histoire</h1>
        <p class="lead">
            Sélectionne une <code>échelle</code> et fais glisser la <code>barre latérale</code> pour naviguer dans l'histoire.
            <button class="btn btn-link btn-lg" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                <i class="fas fa-pen-square"></i>
            </button>
        </p>
        <div class="collapse" id="collapseForm">
            <form id="timeline-form" method="GET" class="card card-body">
                <div class="form-group">
                    <label for="range">Échelle de la frise <span class="badge badge-secondary badge-range">{{ unit }} {{ unit > 1 ? 'ans' : 'an' }}</span></label>
                    <input type="range" name="range" class="custom-range" min="0" max="2" id="range" value="{{ range }}">
                    <small id="rangeHelp" class="form-text text-muted">Fais glisser le curseur pour changer l'échelle</small>
                </div>
                <div class="form-group">
                    <label for="start">Date début de la frise <span class="badge badge-secondary badge-start">{{ start|abs }} {{ start >= 0 ? '' : 'av.n.è.' }}</span></label>
                    <input type="range" name="start" class="custom-range" min="-4100" max="2100" step="{{ unit }}" id="start" value="{{ start }}">
                    <small id="startHelp" class="form-text text-muted">Fais glisser le curseur pour changer l'échelle</small>
                </div>
                <div class="form-group">
                    <label for="end">Date de fin de la frise <span class="badge badge-secondary badge-end">{{ end|abs }} {{ end >= 0 ? '' : 'av.n.è.' }}</span></label>
                    <input type="range" name="end" class="custom-range" min="-4100" max="2100" id="end" step="{{ unit }}" value="{{ end }}">
                    <small id="endHelp" class="form-text text-muted">Fais glisser le curseur pour sélectionner la date de fin</small>
                </div>
                <input class="btn btn-primary" type="submit" name="submit" value="Valider">
            </form>
        </div>
    </div>
</main>
<div class="timeline-wrapper">
    <div class="timeline">
        {{ timeline|raw }}
    </div>
    <div class="timeline-events" ratio="{{ ratio }}" start="{{ start }}">
        <div class="fa-3x">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
    </div>
    <?php include 'templates/event.php'; }}
    <div class="timeline-period">

    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('timeline') }}
{% endblock %}
